<!-- src/app/app.component.html -->
<div *ngIf="!isConnected" id="username-page">
  <div class="username-page-container">
    <h1 class="title">Type your username to join the Chatroom</h1>
    <form (ngSubmit)="connect()">
      <div class="form-group">
        <input [(ngModel)]="username" name="username" type="text" id="name" placeholder="Username" autocomplete="off" class="form-control" />
      </div>
      <div class="form-group">
        <button type="submit" class="accent username-submit">Start Chatting</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="isConnected" id="chatroom">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Select a user to chat with</h2>
    </div>
    <div *ngIf="contacts.length > 0" class="contacts">
      <ul>
        <li *ngFor="let contact of contacts" (click)="selectContact(contact)">
          {{ contact.username }}
        </li>
      </ul>
    </div>
    <div *ngIf="contacts.length === 0" class="no-contacts">
      <p>No users available to chat with.</p>
    </div>
  </div>
</div>
